// ===========================================
//  UTILITIES
// ===========================================

$font-family-primary: 'Zen Maru Gothic', sans-serif;
$font-family-title: 'Yusei Magic', sans-serif;

$color-background-1: #FFFFFF;
$color-background-2: #E9EEF3;
$color-text-1: #2C3E50;
$color-text-2: #8DA0B5;
$color-text-3: #BFCFDD;
$color-text-4: #FFFFFF;
$color-border-1: #2C3E50;
$color-border-2: #BFCFDD;
$color-border-blue: #3498DB;
$color-border-red: #E74C3C;
$color-primary-1: #3498DB;
$color-primary-2: #E8F4FD;
$color-accent-1: #E74C3C;
$color-accent-2: #F8D7DA;

$font-size-header-logo: 2rem;
$font-size-header-logo--sp: 1.6rem;

$font-size-menu: 1.6rem;
$font-size-Heading-L: 6.4rem;
$font-size-Heading-M: 2rem;
$font-size-Heading-S: 1.6rem;
$font-size-body-M: 1.4rem;
$font-size-label: 1.2rem;

$padding-home-side: 16px;

$box-shadow-elevation1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-elevation2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-elebation3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-elevation4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-elebation5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

$shadow: 2px 2px 0 rgba($color-text-1, 0.25);
$shadow-blue: 2px 2px 0 rgba($color-primary-1, 0.25);
$shadow-red: 2px 2px 0 rgba($color-accent-1, 0.25);
$shadow-reverse: -1px -1px 0 rgba($color-text-1, 0.25);

$duration-flow-mode-change: 0.8s;

//ブレイクポイント変数設定
$mq-breakpoints: (
  "sm": 640px,
  "lg": 1024px,
);

// スマホ基準(〜以上)
@mixin minmq($breakpoint: sm) {
  @media (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// PC基準(〜未満)
@mixin maxmq($breakpoint: sm) {
  @media (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===========================================
//  Animations
// ======================================== */

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

:root {
  --fadein-x: 0px;
  --fadein-y: 20px;
}

/* prettier-ignore */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes shrink {
  from {transform: scale(1);}
  to {transform: scale(0.8);}
}

[data-fx="blur"] {
  opacity: 0;
  filter: blur(1rem);
  // scale: 1.1;

  &.is-active {
    opacity: 1;
    filter: blur(0);
    transition:
      opacity 1s $ease-out-expo,
      filter 1.4s $ease-out-expo,
      // scale 1s $ease-out-expo;
  }
}

[data-fx="fadein"] {
  opacity: 0;
  transform: translate(var(--fadein-x), var(--fadein-y));
  transition:
    transform 1.4s $ease-out-back,
    opacity 1s $ease-out-expo;

  &.is-active,
  [data-fx="split-text"].is-active & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

[data-fx="rotate"] {
  opacity: 0;
  transform: rotate(0deg);
  transition:
    transform 0.6s $ease-out-back,
    opacity 1s $ease-out-expo;

  &.is-active {
    opacity: 1;
    transform: rotate(var(--rotate-angle));
  }
}

.fadein-letter {
  opacity: 0;
  transform: translate(var(--fadein-x), var(--fadein-y));
  transition:
    transform 1.4s $ease-out-expo,
    opacity 1s $ease-out-expo;

  .is-active>& {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: calc(var(--index) * 0.03s);
  }
}

/* ===========================================
//  COMMON
// ======================================== */

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-text-1;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

/* ===========================================
//  COMPONENTS
// ======================================== */

.float-image {
  position: absolute;
  object-fit: cover;
  filter: drop-shadow($shadow);

  &--blue {
    filter: drop-shadow($shadow-blue);
  }

  &--red {
    filter: drop-shadow($shadow-red);
  }
}

.section-title {
  font-size: 2.4rem;
  text-shadow: $shadow-blue;
  text-align: center;
  position: relative;
  padding: 0 0 8px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    width: 0;
    border-bottom: 4px solid $color-border-2;
    transition: width 1.4s;
  }

  &.is-active::after {
    width: calc(100% + 32px);
  }

  &--title {
    font-family: $font-family-title;
    font-size: 2.8rem;
  }
}

.section-sub-title {
  font-size: 2rem;
  text-shadow: $shadow-blue;
  text-align: center;
  position: relative;
  padding: 0 0 4px;
  transition: font-size $duration-flow-mode-change, color $duration-flow-mode-change;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    width: 0;
    border-bottom: 2px solid $color-border-2;
    transition: width 1.4s;
  }

  &.is-active::after {
    width: calc(100% + 32px);
  }

  &--tamed {
    color: $color-primary-1;

    @at-root.is-wild & {
      color: $color-text-3;
      font-size: 1.6rem;
      text-shadow: none;
      cursor: pointer;

      &::after {
        width: 0;
      }
    }

    &::after {
      border-color: $color-primary-1;
    }
  }

  &--wild {
    color: $color-accent-1;
    text-shadow: $shadow-red;

    @at-root.is-tamed & {
      color: $color-text-3;
      font-size: 1.6rem;
      text-shadow: none;
      cursor: pointer;

      &::after {
        width: 0;
      }
    }

    &::after {
      border-color: $color-accent-1;
    }
  }
}

.item-title {
  font-size: 2rem;
}

.promo-text {
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  z-index: 0;

  &--title {
    font-size: 3.2rem;
    font-family: $font-family-title;
  }

  &--back {
    position: absolute;
    bottom: -8px;
    right: -12px;
    z-index: -1;
    font-size: 4.8rem;
    color: $color-text-3;
    text-shadow: $shadow-red;
  }

  &--last {
    font-size: 2rem;
    padding: 64px 0;
  }
}

.text--red {
  color: $color-accent-1;
}

/* ===========================================
//  CTA Fixed
// ======================================== */

$height-cta-fixed: 96px;

.cta-fixed {
  position: fixed;
  z-index: 1000;
  top: 16px;
  right: 16px;
  height: $height-cta-fixed;
  aspect-ratio: 1 / 1;
  filter: drop-shadow($shadow);
  transition: transform 0.6s, opacity 0.6s;

  @at-root.is-scroll & {
    transform: scale(0.8);
    opacity: 0.9;
  }

  &__button {
    position: absolute;
    inset: 0;
    background: $color-primary-1;
    border-radius: 50%;
    animation: spin 12s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 4px;
      border-radius: 50%;
      background: $color-background-1;
      box-shadow: inset $shadow;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 8px;
      border-radius: 50%;
      background: $color-primary-1;
      box-shadow: $shadow;
    }
  }

  &__text {
    font-size: 2.4rem;
    color: $color-text-4;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    text-shadow: $shadow;
  }
}

/* ===========================================
//  CTA
// ======================================== */

.cta {
  &__content {
    background: linear-gradient($color-background-1 0%, $color-background-2 20%, $color-background-2 80%, $color-background-1 100%);
    padding: 96px 16px;
    @include content-flex;
    gap: 24px;
  }

  &__text {
    text-shadow: $shadow-blue;
  }

  &__button {
    background: $color-primary-1;
    padding: 12px 80px;
    border-radius: 8px;
    font-size: 2.4rem;
    color: $color-text-4;
    text-shadow: $shadow;
    box-shadow: $shadow;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(2px);
      box-shadow: none;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

/* ===========================================
//  HERO
// ======================================== */

.hero {
  &__mainvisual {
    height: 600px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 128px;
      background: linear-gradient(rgba($color-primary-1, 1) 0%, rgba($color-primary-1, 0.3) 50%, rgba($color-primary-1, 0) 100%);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 64px;
      background: linear-gradient(rgba($color-primary-2, 0), rgba($color-primary-2, 1));
    }
  }

  &__catchcopy {
    text-align: center;
  }

  &__title {
    font-family: $font-family-title;
    font-size: 3.6rem;
    padding-top: 128px;
  }

  &__illust {
    &-app {
      width: 192px;
      bottom: -128px;
      left: 10%;
    }

    &-tree {
      width: 384px;
      height: 384px;
      bottom: -20px;
      left: 25%;
    }

    &-fire {
      width: 128px;
      bottom: -16px;
      left: 70%;
    }

    &-cloud {
      width: 128px;
      top: 16px;
      right: 60%;
    }

    &-moon {
      width: 128px;
      top: 0;
      left: 20%;
    }
  }
}

/* ===========================================
//  SCENES
// ======================================== */

$width-scenes-item: 256px;

.scenes {
  &__content {
    background: linear-gradient($color-primary-2, $color-background-1);
    padding: 64px 16px;
    @include content-flex;
    gap: 64px;
  }

  &__list {
    @include content-flex;
    gap: 16px;
  }

  &__item {
    width: $width-scenes-item;
    aspect-ratio: 1 / 1;
    padding: 20px;
    background: $color-background-1;
    border: 4px solid $color-border-blue;
    border-radius: 32px;
    @include content-flex;
    box-shadow: $shadow;

    &-title {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

/* ===========================================
//  ABOUT
// ======================================== */

.about {
  &__content {
    padding: 64px 16px;
    @include content-flex;
    gap: 64px;
  }

  &__text {
    padding: 0 32px;
    @include content-flex;
    gap: 8px;
  }
}

/* ===========================================
//  FEATURES
// ======================================== */

.features {
  &__content {
    padding: 64px 16px;
    @include content-flex;
    gap: 64px;
  }

  &__list {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-content {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 8px 0 8px 24px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        border-left: 2px solid $color-border-2;
        transition: height 1.4s $ease-out-expo;
      }

      &.is-active::before {
        height: 100%;
      }
    }

    &-icon {
      width: 64px;
      aspect-ratio: 1 / 1;
    }
  }
}

/* ===========================================
//  FLOW
// ======================================== */

$height-flow-mode-selector-toggle: 48px;
$border-flow-mode-selector-toggle: 2px;

.flow {
  padding: 32px 0;
  @include content-flex;
  gap: 32px;

  &__content {
    padding: 32px 16px;
    @include content-flex;
    gap: 64px;
    transition: background-color $duration-flow-mode-change;

    @at-root.is-tamed &--mode {
      background: linear-gradient($color-background-1 0%, $color-primary-2 5%, $color-primary-2 95%, $color-background-1 100%);

    }

    @at-root.is-wild &--mode {
      background: linear-gradient($color-background-1 0%, $color-accent-2 5%, $color-accent-2 95%, $color-background-1 100%);
    }
  }

  &__list {
    padding: 0 16px;
    @include content-flex;
    gap: 64px;

    @at-root.is-tamed &--wild {
      display: none;
    }

    @at-root.is-wild &--tamed {
      display: none;
    }
  }

  &__item {
    background: $color-background-1;
    padding: 32px 20px;
    @include content-flex;
    gap: 24px;
    border-radius: 32px;
    box-shadow: $shadow, $shadow-reverse;

    &-content {
      @include content-flex;
      gap: 16px;
    }

    &-sub-content {
      border-radius: 16px;
      overflow: hidden;

      @at-root.flow__list--tamed & {
        border: 4px solid $color-border-blue;
      }

      @at-root.flow__list--wild & {
        border: 4px solid $color-border-red;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &--sub {
        padding: 16px;
      }
    }

    &-step {
      padding: 0 8px;
      color: $color-text-2;
      line-height: 1;
      width: fit-content;
      border-bottom: 4px solid $color-border-1;

      @at-root.flow__list--tamed & {
        border-color: $color-border-blue;
      }

      @at-root.flow__list--wild & {
        border-color: $color-border-red;
      }

      &--number {
        font-size: 4.8rem;
        font-weight: 400;
        letter-spacing: -0.24rem;
      }
    }
  }

  &__mode-selector {
    padding: 32px 16px;
    @include content-flex;
    gap: 16px;
    width: 100%;
    background: $color-background-2;
    border-left: 4px solid $color-border-blue;
    border-radius: 12px;

    &-title {
      font-size: 2rem;
    }

    &-toggle {
      padding: 0 12px;
      height: $height-flow-mode-selector-toggle;
      display: flex;
      gap: 24px;
      background: $color-background-1;
      border: $border-flow-mode-selector-toggle solid $color-border-2;
      border-radius: calc($height-flow-mode-selector-toggle / 2);
      position: relative;
      z-index: 0;
    }

    &-label {
      font-size: 1.6rem;
      color: $color-text-2;
      line-height: calc($height-flow-mode-selector-toggle - ($border-flow-mode-selector-toggle * 2));
      cursor: pointer;
      transition: color $duration-flow-mode-change;

      @at-root.is-tamed &--tamed {
        color: $color-text-4;
        cursor: auto;
      }

      @at-root.is-wild &--wild {
        color: $color-text-4;
        cursor: auto;
      }
    }

    &-slider {
      position: absolute;
      top: 0;
      border-radius: 24px;
      width: 50%;
      height: 100%;
      z-index: -1;
      transition: left $duration-flow-mode-change;

      @at-root.is-tamed & {
        left: 0;
        background: $color-primary-1;
      }

      @at-root.is-wild & {
        left: 50%;
        background: $color-accent-1;
      }
    }

    &-desc {
      border: 2px solid $color-border-2;
      border-radius: 8px;
      overflow: hidden;

      &-list {
        display: flex;
        transition: transform $duration-flow-mode-change;

        @at-root.is-tamed & {
          transform: translateX(0);
        }

        @at-root.is-wild & {
          transform: translateX(-100%);
        }
      }

      &-item {
        padding: 12px 16px;
        @include content-flex;
        gap: 8px;
        width: 100%;
        flex-shrink: 0;

        &--tamed {
          background: $color-primary-2;
          color: $color-primary-1;
        }

        &--wild {
          background: $color-accent-2;
          color: $color-accent-1;
        }
      }

      &-title {
        font-size: 1.6rem;
      }

      &-text {
        font-weight: 400;
      }
    }
  }

  &__mode-title-container {
    height: 64px;
  }
}

/* ===========================================
//  AUTHOR
// ======================================== */

.author {
  &__content {
    padding: 64px 16px;
    @include content-flex;
    gap: 64px;
    font-family: Barlow, -apple-system, "ヒラギノ角ゴシック", "Meiryo", sans-serif;
    font-weight: 400;
  }

  &__profile {
    padding: 0 16px;
    @include content-flex;
    gap: 16px;

    &-image {
      width: 128px;
      aspect-ratio: 1 / 1;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-name {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-meta {
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      width: 256px;

      &-term {
        width: 15%;
        color: $color-text-2;
      }

      &-desc {
        width: 80%;
      }
    }
  }

  &__contact {
    @include content-flex;
    gap: 8px;

    &-site {
      text-align: center;
    }

    &-name {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

/* ===========================================
//  FOOTER
// ======================================== */

.footer {
  &__content {
    padding: 8px 16px;
    text-align: right;
  }

  &__copyright {
    font-family: Barlow, -apple-system, "ヒラギノ角ゴシック", "Meiryo", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
  }
}