@charset "UTF-8";
/* ===========================================
//  Animations
// ======================================== */
:root {
  --fadein-x: 0px;
  --fadein-y: 20px;
}

/* prettier-ignore */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
[data-fx=blur] {
  opacity: 0;
  filter: blur(1rem);
}
[data-fx=blur].is-active {
  opacity: 1;
  filter: blur(0);
  transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1), filter 1.4s cubic-bezier(0.16, 1, 0.3, 1);
}

[data-fx=fadein] {
  opacity: 0;
  transform: translate(var(--fadein-x), var(--fadein-y));
  transition: transform 1.4s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
}
[data-fx=fadein].is-active, [data-fx=split-text].is-active [data-fx=fadein] {
  opacity: 1;
  transform: translate(0, 0);
}

[data-fx=rotate] {
  opacity: 0;
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
}
[data-fx=rotate].is-active {
  opacity: 1;
  transform: rotate(var(--rotate-angle));
}

.fadein-letter {
  opacity: 0;
  transform: translate(var(--fadein-x), var(--fadein-y));
  transition: transform 1.4s cubic-bezier(0.16, 1, 0.3, 1), opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.is-active > .fadein-letter {
  opacity: 1;
  transform: translate(0, 0);
  transition-delay: calc(var(--index) * 0.03s);
}

/* ===========================================
//  COMMON
// ======================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2C3E50;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

/* ===========================================
//  COMPONENTS
// ======================================== */
.float-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(2px 2px 0 rgba(44, 62, 80, 0.25));
}
.float-image--blue {
  filter: drop-shadow(2px 2px 0 rgba(52, 152, 219, 0.25));
}
.float-image--red {
  filter: drop-shadow(2px 2px 0 rgba(231, 76, 60, 0.25));
}

.section-title {
  font-size: 2.4rem;
  text-shadow: 2px 2px 0 rgba(52, 152, 219, 0.25);
  text-align: center;
  position: relative;
  padding: 0 0 8px;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -16px;
  width: 0;
  border-bottom: 4px solid #BFCFDD;
  transition: width 1.4s;
}
.section-title.is-active::after {
  width: calc(100% + 32px);
}
.section-title--title {
  font-family: "Yusei Magic", sans-serif;
  font-size: 2.8rem;
}

.section-sub-title {
  font-size: 2rem;
  text-shadow: 2px 2px 0 rgba(52, 152, 219, 0.25);
  text-align: center;
  position: relative;
  padding: 0 0 4px;
  transition: font-size 0.8s, color 0.8s;
}
.section-sub-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -16px;
  width: 0;
  border-bottom: 2px solid #BFCFDD;
  transition: width 1.4s;
}
.section-sub-title.is-active::after {
  width: calc(100% + 32px);
}
.section-sub-title--tamed {
  color: #3498DB;
}
.is-wild .section-sub-title--tamed {
  color: #BFCFDD;
  font-size: 1.6rem;
  text-shadow: none;
  cursor: pointer;
}
.is-wild .section-sub-title--tamed::after {
  width: 0;
}

.section-sub-title--tamed::after {
  border-color: #3498DB;
}
.section-sub-title--wild {
  color: #E74C3C;
  text-shadow: 2px 2px 0 rgba(231, 76, 60, 0.25);
}
.is-tamed .section-sub-title--wild {
  color: #BFCFDD;
  font-size: 1.6rem;
  text-shadow: none;
  cursor: pointer;
}
.is-tamed .section-sub-title--wild::after {
  width: 0;
}

.section-sub-title--wild::after {
  border-color: #E74C3C;
}

.item-title {
  font-size: 2rem;
}

.promo-text {
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  z-index: 0;
}
.promo-text--title {
  font-size: 3.2rem;
  font-family: "Yusei Magic", sans-serif;
}
.promo-text--back {
  position: absolute;
  bottom: -8px;
  right: -12px;
  z-index: -1;
  font-size: 4.8rem;
  color: #BFCFDD;
  text-shadow: 2px 2px 0 rgba(231, 76, 60, 0.25);
}
.promo-text--last {
  font-size: 2rem;
  padding: 64px 0;
}

.text--red {
  color: #E74C3C;
}

/* ===========================================
//  CTA Fixed
// ======================================== */
.cta-fixed {
  position: fixed;
  z-index: 1000;
  top: 16px;
  right: 16px;
  height: 96px;
  aspect-ratio: 1/1;
  filter: drop-shadow(2px 2px 0 rgba(44, 62, 80, 0.25));
  transition: transform 0.6s, opacity 0.6s;
}
.is-scroll .cta-fixed {
  transform: scale(0.8);
  opacity: 0.9;
}

.cta-fixed__button {
  position: absolute;
  inset: 0;
  background: #3498DB;
  border-radius: 50%;
  -webkit-animation: spin 12s linear infinite;
          animation: spin 12s linear infinite;
}
.cta-fixed__button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.cta-fixed__button::before {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: inset 2px 2px 0 rgba(44, 62, 80, 0.25);
}
.cta-fixed__button::after {
  content: "";
  position: absolute;
  inset: 8px;
  border-radius: 50%;
  background: #3498DB;
  box-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25);
}
.cta-fixed__text {
  font-size: 2.4rem;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
  text-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25);
}

/* ===========================================
//  CTA
// ======================================== */
.cta__content {
  background: linear-gradient(#FFFFFF 0%, #E9EEF3 20%, #E9EEF3 80%, #FFFFFF 100%);
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.cta__text {
  text-shadow: 2px 2px 0 rgba(52, 152, 219, 0.25);
}
.cta__button {
  background: #3498DB;
  padding: 12px 80px;
  border-radius: 8px;
  font-size: 2.4rem;
  color: #FFFFFF;
  text-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25);
  box-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25);
  transition: transform 0.2s, box-shadow 0.2s;
}
.cta__button:hover {
  transform: translateY(2px);
  box-shadow: none;
}
.cta__button:active {
  transform: scale(0.95);
}

/* ===========================================
//  HERO
// ======================================== */
.hero__mainvisual {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.hero__mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 128px;
  background: linear-gradient(#3498db 0%, rgba(52, 152, 219, 0.3) 50%, rgba(52, 152, 219, 0) 100%);
}
.hero__mainvisual::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 64px;
  background: linear-gradient(rgba(232, 244, 253, 0), #e8f4fd);
}
.hero__catchcopy {
  text-align: center;
}
.hero__title {
  font-family: "Yusei Magic", sans-serif;
  font-size: 3.6rem;
  padding-top: 128px;
}
.hero__illust-app {
  width: 192px;
  bottom: -128px;
  left: 10%;
}
.hero__illust-tree {
  width: 384px;
  height: 384px;
  bottom: -20px;
  left: 25%;
}
.hero__illust-fire {
  width: 128px;
  bottom: -16px;
  left: 70%;
}
.hero__illust-cloud {
  width: 128px;
  top: 16px;
  right: 60%;
}
.hero__illust-moon {
  width: 128px;
  top: 0;
  left: 20%;
}

/* ===========================================
//  SCENES
// ======================================== */
.scenes__content {
  background: linear-gradient(#E8F4FD, #FFFFFF);
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.scenes__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.scenes__item {
  width: 256px;
  aspect-ratio: 1/1;
  padding: 20px;
  background: #FFFFFF;
  border: 4px solid #3498DB;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25);
}
.scenes__item-title {
  font-size: 1.6rem;
  text-align: center;
}

/* ===========================================
//  ABOUT
// ======================================== */
.about__content {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.about__text {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* ===========================================
//  FEATURES
// ======================================== */
.features__content {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.features__list {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features__item-content {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0 8px 24px;
  position: relative;
}
.features__item-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-left: 2px solid #BFCFDD;
  transition: height 1.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.features__item-content.is-active::before {
  height: 100%;
}
.features__item-icon {
  width: 64px;
  aspect-ratio: 1/1;
}

/* ===========================================
//  FLOW
// ======================================== */
.flow {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.flow__content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  transition: background-color 0.8s;
}
.is-tamed .flow__content--mode {
  background: linear-gradient(#FFFFFF 0%, #E8F4FD 5%, #E8F4FD 95%, #FFFFFF 100%);
}

.is-wild .flow__content--mode {
  background: linear-gradient(#FFFFFF 0%, #F8D7DA 5%, #F8D7DA 95%, #FFFFFF 100%);
}

.flow__list {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.is-tamed .flow__list--wild {
  display: none;
}

.is-wild .flow__list--tamed {
  display: none;
}

.flow__item {
  background: #FFFFFF;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  box-shadow: 2px 2px 0 rgba(44, 62, 80, 0.25), -1px -1px 0 rgba(44, 62, 80, 0.25);
}
.flow__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.flow__item-sub-content {
  border-radius: 16px;
  overflow: hidden;
}
.flow__list--tamed .flow__item-sub-content {
  border: 4px solid #3498DB;
}

.flow__list--wild .flow__item-sub-content {
  border: 4px solid #E74C3C;
}

.flow__item-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.flow__item-text--sub {
  padding: 16px;
}
.flow__item-step {
  padding: 0 8px;
  color: #8DA0B5;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 4px solid #2C3E50;
}
.flow__list--tamed .flow__item-step {
  border-color: #3498DB;
}

.flow__list--wild .flow__item-step {
  border-color: #E74C3C;
}

.flow__item-step--number {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: -0.24rem;
}
.flow__mode-selector {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  background: #E9EEF3;
  border-left: 4px solid #3498DB;
  border-radius: 12px;
}
.flow__mode-selector-title {
  font-size: 2rem;
}
.flow__mode-selector-toggle {
  padding: 0 12px;
  height: 48px;
  display: flex;
  gap: 24px;
  background: #FFFFFF;
  border: 2px solid #BFCFDD;
  border-radius: 24px;
  position: relative;
  z-index: 0;
}
.flow__mode-selector-label {
  font-size: 1.6rem;
  color: #8DA0B5;
  line-height: 44px;
  cursor: pointer;
  transition: color 0.8s;
}
.is-tamed .flow__mode-selector-label--tamed {
  color: #FFFFFF;
  cursor: auto;
}

.is-wild .flow__mode-selector-label--wild {
  color: #FFFFFF;
  cursor: auto;
}

.flow__mode-selector-slider {
  position: absolute;
  top: 0;
  border-radius: 24px;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: left 0.8s;
}
.is-tamed .flow__mode-selector-slider {
  left: 0;
  background: #3498DB;
}

.is-wild .flow__mode-selector-slider {
  left: 50%;
  background: #E74C3C;
}

.flow__mode-selector-desc {
  border: 2px solid #BFCFDD;
  border-radius: 8px;
  overflow: hidden;
}
.flow__mode-selector-desc-list {
  display: flex;
  transition: transform 0.8s;
}
.is-tamed .flow__mode-selector-desc-list {
  transform: translateX(0);
}

.is-wild .flow__mode-selector-desc-list {
  transform: translateX(-100%);
}

.flow__mode-selector-desc-item {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex-shrink: 0;
}
.flow__mode-selector-desc-item--tamed {
  background: #E8F4FD;
  color: #3498DB;
}
.flow__mode-selector-desc-item--wild {
  background: #F8D7DA;
  color: #E74C3C;
}
.flow__mode-selector-desc-title {
  font-size: 1.6rem;
}
.flow__mode-selector-desc-text {
  font-weight: 400;
}
.flow__mode-title-container {
  height: 64px;
}

/* ===========================================
//  AUTHOR
// ======================================== */
.author__content {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  font-family: Barlow, -apple-system, "ヒラギノ角ゴシック", "Meiryo", sans-serif;
  font-weight: 400;
}
.author__profile {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.author__profile-image {
  width: 128px;
  aspect-ratio: 1/1;
}
.author__profile-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.author__profile-name {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.author__profile-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.author__profile-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  width: 256px;
}
.author__profile-meta-term {
  width: 15%;
  color: #8DA0B5;
}
.author__profile-meta-desc {
  width: 80%;
}
.author__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.author__contact-site {
  text-align: center;
}
.author__contact-name {
  font-size: 2rem;
  font-weight: 500;
}

/* ===========================================
//  FOOTER
// ======================================== */
.footer__content {
  padding: 8px 16px;
  text-align: right;
}
.footer__copyright {
  font-family: Barlow, -apple-system, "ヒラギノ角ゴシック", "Meiryo", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */