@use "./../../foundation/_base.scss";

.c-text-group {
  @include base.flex($justify: flex-start, $align: center, $direction: column);
}

.c-text-body {
  @include base.breakpoint($breakpoint: md) {
    font-size: 1.8rem;
  }
  @include base.breakpoint($breakpoint: lg) {
    font-size: 2rem;
  }
}

.c-text-promo {
  font-size: 2.4rem;
  @include base.breakpoint($breakpoint: md) {
    font-size: 3.2rem;
  }
  @include base.breakpoint($breakpoint: lg) {
    font-size: 4rem;
  }
}

.c-text-promo-sub {
  font-size: 2rem;
  @include base.breakpoint($breakpoint: md) {
    font-size: 2.4rem;
  }
  @include base.breakpoint($breakpoint: lg) {
    font-size: 2.8rem;
  }
}

.c-text-promo-accent-font {
  font-size: 3.2rem;
  font-family: base.$font-family-accent;
  @include base.breakpoint($breakpoint: md) {
    font-size: 4.4rem;
  }
  @include base.breakpoint($breakpoint: lg) {
    font-size: 5.2rem;
  }
}

.c-text-promo-last {
  font-size: 2rem;
  padding: 64px 0;
  @include base.breakpoint($breakpoint: md) {
    font-size: 3.2rem;
  }
  @include base.breakpoint($breakpoint: lg) {
    font-size: 4.4rem;
  }
}
