// ===========================================
//  変数
// ===========================================

$font-family-base: "Zen Maru Gothic", sans-serif;
$font-family-accent: "Yusei Magic", sans-serif;
$font-family-author: Barlow, -apple-system, ヒラギノ角ゴシック, Meiryo, sans-serif;

$color-primary-1: #3498db;
$color-primary-2: #e8f4fd;
$color-accent-1: #e74c3c;
$color-accent-2: #f8d7da;

$color-background-1: #ffffff;
$color-background-2: #e9eef3;
$color-background-hover: #2c3e50;
$color-text-1: #2c3e50;
$color-text-2: #8da0b5;
$color-text-3: #bfcfdd;
$color-text-4: #ffffff;
$color-border-1: #2c3e50;
$color-border-2: #bfcfdd;
$color-border-blue: $color-primary-1;
$color-border-red: $color-accent-1;

$shadow: 2px 2px 0 rgba($color-text-1, 0.25);
$shadow-lg: 4px 4px 0 rgba($color-text-1, 0.25);
$shadow-blue: 2px 2px 0 rgba($color-primary-1, 0.25);
$shadow-blue-lg: 4px 4px 0 rgba($color-primary-1, 0.25);
$shadow-red: 2px 2px 0 rgba($color-accent-1, 0.25);
$shadow-red-lg: 4px 4px 0 rgba($color-accent-1, 0.25);
$shadow-reverse: -1px -1px 0 rgba($color-text-1, 0.25);

$duration-flow-mode-change: 0.6s;

$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

// ===========================================
//  mixin
// ===========================================
//ブレイクポイント変数設定
$mq-breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
);
// MobileFirst
// @include base.breakpoint($breakpoint: md) {}
@mixin breakpoint($breakpoint: md) {
  @media (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// @include base.flex($justify: flex-start, $align: flex-start, $direction: row);
@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// @include base.position-abs($top: auto, $bottom: auto, $right: auto, $left: auto);
@mixin position-abs($top: auto, $bottom: auto, $right: auto, $left: auto) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
}

// @include base.padding-side($padding: 16px, $padding-md: 32px, $padding-lg: 48px);
@mixin padding-side($padding: 16px, $padding-md: 32px, $padding-lg: 48px) {
  padding-left: $padding;
  padding-right: $padding;
  @include breakpoint(md) {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
  @include breakpoint(xl) {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
  }
}

// ===========================================
//  Common
// ===========================================

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-text-1;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}
