@use "./../../foundation/_base.scss";

.p-author {
  &__inner {
    padding-top: 64px;
    padding-bottom: 64px;
    @include base.breakpoint($breakpoint: md) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  &__container {
    @include base.flex($justify: flex-start, $align: center, $direction: column);
    gap: 64px;
    font-family: base.$font-family-author;
    font-weight: 400;
  }

  &__profile {
    @include base.flex($justify: flex-start, $align: center, $direction: column);
    gap: 16px;
    max-width: 768px;
    @include base.breakpoint($breakpoint: md) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__profile-img-container {
    width: 128px;
    aspect-ratio: 1 / 1;
  }
  &__profile-text {
    flex: 1;
    @include base.flex($justify: flex-start, $align: stretch, $direction: column);
    gap: 8px;
    @include base.breakpoint($breakpoint: md) {
      gap: 16px;
    }
  }
  &__profile-name {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    @include base.breakpoint($breakpoint: md) {
      font-size: 2.4rem;
      text-align: left;
    }
  }
  &__profile-desc {
    @include base.flex($justify: flex-start, $align: flex-start, $direction: column);
    gap: 4px;
    @include base.breakpoint($breakpoint: md) {
      gap: 8px;
    }
  }
  &__profile-meta {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 16px;
  }
  &__profile-meta-term {
    color: base.$color-text-2;
  }

  &__contact {
    @include base.flex($justify: flex-start, $align: center, $direction: column);
    gap: 8px;
    @include base.breakpoint($breakpoint: md) {
      flex-direction: row;
    }
  }
  &__contact-site {
    @include base.flex($justify: flex-start, $align: center, $direction: column);
    padding: 4px 8px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: base.$color-text-4;
      background: base.$color-background-hover;
      animation: shake 0.1s infinite;
      // prettier-ignore
      @keyframes shake {
        0% {transform: translate(0px, 0px) rotateZ(0deg);}
        25% {transform: translate(2px, 2px) rotateZ(1deg);}
        50% {transform: translate(0px, 2px) rotateZ(0deg);}
        75% {transform: translate(2px, 0px) rotateZ(-1deg);}
        100% {transform: translate(0px, 0px) rotateZ(0deg);}
      }
    }
  }
  &__contact-name {
    font-size: 2rem;
    font-weight: 500;
    @include base.breakpoint($breakpoint: md) {
      font-size: 2.4rem;
    }
  }
}
