@use "./../../foundation/_base.scss";

.p-features {
  &__inner {
    padding-top: 64px;
    padding-bottom: 64px;
    @include base.breakpoint($breakpoint: md) {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  &__container {
    @include base.flex($justify: flex-start, $align: center, $direction: column);
    gap: 64px;
    @include base.breakpoint($breakpoint: md) {
      gap: 128px;
    }
  }

  &__list {
    display: grid;
    gap: 32px;
    @include base.breakpoint($breakpoint: md) {
      grid-template-columns: 1fr 1fr;
      gap: 48px;
    }
  }

  &__item {
    @include base.flex($justify: flex-start, $align: stretch, $direction: column);
    gap: 8px;
    @include base.breakpoint($breakpoint: md) {
      gap: 12px;
    }
  }

  &__item-content {
    @include base.flex($justify: flex-start, $align: center, $direction: row);
    gap: 16px;
    position: relative;
    padding: 8px 0 8px 24px;
    &::before {
      content: "";
      @include base.position-abs($top: 0, $bottom: auto, $right: auto, $left: 0);
      height: 0;
      border-left: 2px solid base.$color-border-2;
      transition: height 1.4s ease;
    }
    &.is-active::before {
      height: 100%;
    }
  }

  &__item-icon {
    width: 64px;
    aspect-ratio: 1 / 1;
    filter: drop-shadow(base.$shadow-blue-lg);
  }
}
